<div class="modal fade" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kategori Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-form" method="post">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-12 form-group">
                            <label for="Name">Ad</label>
                            <input type="text" class="form-control" name="Name" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSubmitAdd" class="btn btn-primary">Ekle</button>
                    <button type="button" id="btnCloseAddModal" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                </div>
            </form>           
        </div>
    </div>
</div>
