@model IEnumerable<Ecole42Entity.Entity.User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="container ml-0 mt-0">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Kullanıcı Listesi</h4>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="input-group search-area right d-lg-inline-flex d-none">
                    <input type="text" id="search-bar" class="form-control" placeholder="Arama...">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table primary-table-bordered">
                    <thead class="thead-primary">
                        <tr>
                            <th scope="col">Ad</th>
                            <th scope="col">E-Posta</th>
                        </tr>
                    </thead>
                    <tbody id="table-data">
                        @if (Model.Count() != 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>
                                        @item.Name @item.Surname
                                    </td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


