
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section heads{
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
          rel="stylesheet" />
   <link href="~/User/assets/css/question.css" rel="stylesheet"/>
   <link rel="stylesheet" href="/User/assets/css/base.css">
}

@section scripts{
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script src="/js/questions.js"></script>
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">Sorular</h2>
            </div>
            <div class="card-body">
                <h4 class="card-title mb-0">Arama</h4>
                <div id="table-search">
                    <div class="spinner-border mt-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->